h1 {
    color:#BB86FC;
    text-align: center;
}

p + li { /*if a list follows a p, it will be red*/
    color:red;
}

li {
    list-style-type: none;
}

a {
    color:#03DAC6;
}

a:visited {
    color:#018786
}

li.special { /*anything of type li with class special will be specified as this*/
    color:orange;
    font-weight:bold;
}

body {
    background-color: #121212;
}

.dropbtn {
    background-color: #BB86FC;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #c69cfa;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1d1d1d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display:block;}