@font-face {
	font-family: 'Ata Rounded 45 Light It';
	src: url(../../assets/fonts/Ata-Rounded-45-Light-Italic.woff2) format('woff2'),
	url(../../assets/fonts/Ata-Rounded-45-Light-Italic.woff) format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}