@font-face {
	font-family: 'Ata Rounded 95';
	src: url(../../assets/fonts/Ata-Rounded-95-Black.woff2) format('woff2'),
	url(../../assets/fonts/Ata-Rounded-95-Black.woff) format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}